.header_wrapper {
  padding: 40px 0;
  box-shadow: 0px 1px 5px #00000015;
}

.header_wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 0;
}
